services:
  postgres:
    image: postgres:16-alpine
    container_name: stafflabs-postgres
    environment:
      POSTGRES_DB: stafflabs
      POSTGRES_USER: stafflabs
      POSTGRES_PASSWORD: stafflabs123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U stafflabs" ]
      interval: 10s
      timeout: 5s
      retries: 5

  prometheus:
    image: prom/prometheus:v2.49.1
    container_name: stafflabs-prometheus
    ports:
      - "9091:9090"
    volumes:
      - ./infra/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=7d'
      - '--web.enable-lifecycle'

  tempo:
    image: grafana/tempo:2.3.1
    container_name: stafflabs-tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    ports:
      - "3200:3200" # tempo
      - "4317:4317" # otlp grpc
      - "4318:4318" # otlp http
    volumes:
      - ./infra/tempo/tempo.yaml:/etc/tempo.yaml
      - tempo_data:/tmp/tempo

  grafana:
    image: grafana/grafana:10.3.1
    container_name: stafflabs-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - ./infra/grafana/provisioning:/etc/grafana/provisioning
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
      - tempo

volumes:
  postgres_data:
  prometheus_data:
  tempo_data:
  grafana_data:
